{
  "presets": [
    "@babel/preset-typescript",
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    ["module-resolver", {
      "extensions": [".js", ".jsx", ".ts", ".tsx"],
      "alias": {
        "@store": "./src/store",
        "@styles": "./src/styles",
        "@assets": "./src/assets",
        "@components": "./src/components",
        "@view": "./src/view",
        "@utils/*": "./src/utils"
      }
    }],
    "@babel/plugin-proposal-class-properties"
  ]
}
