{
  "presets": [
    "@babel/preset-typescript",
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    ["module-resolver", {
      "extensions": [".js", ".jsx", ".ts", ".tsx"],
      "alias": {
        "@store": "./src/store",
        "@styles": "./src/styles"
      }
    }],
    "@babel/plugin-proposal-class-properties"
  ]
}
